.carrito{
    margin-top: 100px;
}


#total{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-right: 40px;
}

.fin-compra{
    display: flex;
    justify-content: center;
    Border: 1px solid rgb(0, 0, 0);
    gap: 5px;
}

.btn{
    margin-top: auto;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2{
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn2-margin{
    margin-top: auto;
}

#vacio{
    margin: auto;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
}